.post-main{
    width: 400px;
    border-radius: 15px;
    background-color: aliceblue;
    position: relative;
    top: 10px;
    left: 20px;
    margin-bottom: 20px;
}

.post-user{
    width: 100%;
    background-color: lightgray;
    border-radius: 10px 10px 0px 0px;
}

h3{
    margin-left: 20px;
}

.post-comment{

}

p{
    margin-left: 20px;
}

